<body>
    <div class="page-container">
    <!--/content-inner-->
     <div class="left-content">
        <div class="inner-content">
         <!-- header-starts -->
        <app-header></app-header>
                         <br>
                   <div class="container">
                    <div class="row">
                    <div class="alert alert-primary" role="alert">
                  View Information
                    </div>
                          
                      
                       
                       </div>
                        </div>
                          
                        <div class="col-sm-12">
                            <h2>Performance Objectives & Personal Development Objectives </h2>

                            <div class="col-sm-12">
                                <div class="row">
                                    
                                    <div class="col-sm-6">
                                        <div>
                                            <span>Full Name : </span ><p>{{viewdata?.fullname}}</p>
                                        </div>
                                        <div>
                                            <span>Performance Goals :</span> <p>{{viewdata?.performance_goals}}</p>
                                        </div>
                                        <div>
                                            <span>Key Performance Measures: </span ><p>{{viewdata?.key_performance_measures}}</p>
                                        </div>
                                        <div>
                                            <span>Job holder Comment : </span ><p>{{viewdata?.Job_holder_comment}}</p>
                                        </div>
                                        <div>
                                            <span>Rating: </span ><p>{{viewdata?.rating}}</p>
                                        </div>
                                        <div>
                                            <span>Score: </span ><p>{{viewdata?.score}}</p>
                                        </div>
                                        <div *ngIf="viewdata?.checkappraisal==='Yes'">
                                            <span >Line Manager Appraisal: </span ><p style="background: #e2f1ea;">{{viewdata?.appraisalinformation}}</p>
                                        </div>
                                        <div>
                                            
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div>
                                            <span>Full Name : </span ><p>{{personaldata?.fullname}}</p>
                                        </div>
                                        <div>
                                            <span>Personal learning and devt goals :</span> <p>{{personaldata?.Personal_learning_and_devt_goals}}</p>
                                        </div>
                                        <div>
                                            <span>Manager support: </span ><p>{{personaldata?.Manager_support}}</p>
                                        </div>
                                        <div>
                                            <span>Activity to achieve goal : </span ><p>{{personaldata?.Activity_to_achieve_goal}}</p>
                                        </div>
                                        <div>
                                            <span>Rating: </span ><p>{{personaldata?.rating}}</p>
                                        </div>
                                        <div>
                                            <span>Score: </span ><p>{{personaldata?.score}}</p>
                                        </div>
                                       


                                    </div>
                                </div>
                            </div>
                        </div>
                        
             </div>
         </div>
             </div>

             <!--content-->
        
 
                 <!--//content-inner-->
             <!--/sidebar-menu-->
              <app-managersidebar></app-managersidebar>
               
                               <div class="clearfix"></div>		
                            
                           
 </body>