span{
    font-weight: 700;
    font-size: 17px;
}

div.alert.alert-primary {
    width: 890px;
    margin: 10px;
    text-align: left;
    font-weight: bold;
    background: antiquewhite;
}

body{
    overflow-x:hidden;
}