div.alert.alert-primary {
    width: 740px;
    margin: 10px;
    text-align: left;
    font-weight: bold;
    background: antiquewhite;
}

td{
    font-weight: 700;
}

a.btn.btn-success
    {
        background: #2b9d0e;
    }
.badge{
display: inline-block;
min-width: 10px;
padding: 3px 7px;
font-size: 12px;
font-weight: 700;
line-height: 2;
color: #fff;
text-align: center;
width: 70px;
white-space: nowrap;
vertical-align: baseline;
border-radius: 10px;
}