<body>
    <div class="page-container">
    <!--/content-inner-->
     <div class="left-content">
        <div class="inner-content">
         <!-- header-starts -->
         <app-header></app-header>
                 <div class="header_bg">
                         
                             <div class="header">
                                 <div class="head-t">
                                     <div class="logo">
                                         <a href="index.html"><img src="images/logo.png" class="img-responsive" alt=""> </a>
                                     </div>
                                         <!-- start header_right -->
                                     <div class="header_right">
                                         <div class="rgt-bottom">
                                             <div class="log">
                                                 
                                             </div>
                                             
                                        
                                         <div class="clearfix"> </div>
                                     </div>
                                     
                                     <div class="clearfix"> </div>
                                 </div>
                                 <div class="clearfix"> </div>
                             </div>
                         </div>
                     
                 </div>
                     <!-- //header-ends -->
                 
                 <!--content-->
             <div class="content">
                     <div class="monthly-grid">
                         <div class="panel panel-widget">
                             <div class="panel-title">
                         <h3 style="text-align:left;color:black;">Welcome<span style="color:#B52E31 !important">  {{username}}</span></h3>
                            
                         
                             </div>
                             <div class="panel-body">
                                 <!-- status -->
                                 <div class="contain">	
                                     <div class="gantt"></div>
                                 </div>
                                 <!-- status -->
                             </div>
                         </div>
                     </div>
             
                         <!--//area-->
                             <div class="col-md-5 skil">
                                 <div class="content-top-1">
                                     <div class="col-md-6 top-content">
                                     
                                         <label>Human</label>
                                     </div>
                                     
                                         <div class="clearfix"> </div>
                                 </div>
                                 <div class="content-top-1">
                                     <div class="col-md-6 top-content">
                                         
                                         <label>Resource</label>
                                     </div>
                                    
                                      <div class="clearfix"> </div>
                                 </div>
                                 <div class="content-top-1">
                                     <div class="col-md-6 top-content">
                                       
                                         <label>Information</label>
                                     </div>
                                     
                                     <div class="clearfix"> </div>
                                 </div>
                             </div>
                             <div class="col-md-7 mid-content-top">
                                 <div class="middle-content">
                                 <img src="assets/images/admin.jpg" style="width: 100%;">
                                 </div>
                                
                         </div>
                         <div class="clearfix"></div>
                         
        
             </div>
             <!--content-->
         </div>
 </div>
                 <!--//content-inner-->
             <!--/sidebar-menu-->
                 <app-employeesidebar></app-employeesidebar>
                               <div class="clearfix"></div>		
                             </div>
                
 </body>