<body>
    <div class="page-container">
    <!--/content-inner-->
     <div class="left-content">
        <div class="inner-content">
         <!-- header-starts -->
             <div class="header-section">
             <!-- top_bg -->
                       <app-header></app-header>
                         <br>
                   <div class="container">

                    <div class="row">
                        <div class="alert alert-primary" role="alert">
                            Performance Objectives
                          </div>
                          <div class="alert alert-danger" role="alert" *ngIf="errormessage">
                            {{errormessage}}
                          </div>
                          <div class="alert alert-success" role="alert" *ngIf="successmessage">
                            {{successmessage}}
                          </div>
                        <div class="col-sm-6">
                            <form [formGroup]="EmployeeForm" >
                            <div class="mb-3">
                              
                                <label for="exampleFormControlInput1" class="form-label">Employee Full Name</label>
                                <input type="text" class="form-control" id="employee_full_name" formControlName="fullname" placeholder="Employee Full Name">
                              </div>
                              <div class="mb-3"> 
                                <label for="exampleFormControlTextarea1" class="form-label">Performance Goals</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="performance_goals" rows="2"></textarea>
                              </div>
                              <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Key Performance Measures</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="key_performance_measures" rows="2"></textarea>
                              </div>
                              <div class="mb-3">
                                <label for="exampleFormControlTextarea1" class="form-label">Job Holder's comment</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" formControlName="Job_holder_comment" rows="3"></textarea>
                              </div>
                              <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Score </label>
                                <select class="form-control" aria-label="Default select example" formControlName="score">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                    <option value="4">four</option>
                                    <option value="5">five</option>
                                  </select>
                              </div>

                              <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Rating</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Rating" formControlName="rating">
                              </div>
                              <br>
                              <div class="mb-3">
                                <button class="btn btn-primary" type="submit" (click)="employeePerformance()">Next </button>
                              </div>
                              
                              <div class="col-sm-6"></div>
                               </form>
                              
                        </div>
                       
                    </div>
                   </div>
                    
       
                        
             </div>
         </div>
             </div>
             <!--content-->
         </div>
 
                 <!--//content-inner-->
             <!--/sidebar-menu-->
             <app-employeesidebar></app-employeesidebar>
                               <div class="clearfix"></div>		
                            
                            
 </body>